REALHOME=$HOME
ZZZZZ=`pwd`                          # `pwd` always shows the dir that .envrc resides in, perfect!
export HOME="${ZZZZZ}/.envrc_home"   # change our perception of HOME to the new <project>/.envrc_home
ZZZZZ=`mkdir -p "${HOME}/bin"`       # create <project>/.envrc_home (now $HOME,) and $HOME/bin if they don't already exist 
export PATH=$HOME/bin:$RAWPATH       # add bin dir into the path  (auto-resets upon exiting direnv ctrled subdir)


#### the 'JUNK='s are 'tricks' that use `exec` nature of backticks to execute cmds on entering a direnv ctrled subdir
#### these are generic, COMMENT OUT the ones you don't want and CHANGE THE PATH to change the versions to link to

JUNK=`ln -s "${REALHOME}/.gitconfig" "$HOME/.gitconfig" 2> /dev/null`                        # softlink stuff from our real $HOME to new $HOME here

JUNK=`ln -s "/mnt/shared/vbin/vscode/VSCode-1.97.1/bin/code" "$HOME/bin/code" 2> /dev/null`  # create versioned link to vscode to $HOME/bin/code


#### ZZZ=$QQQ        # this works so we can assign one ENVval from another in here
#### ZZZ=`cat $ZZZ`  # and then use that newly assigned ENVval as an executable param!
