
### to 'reset' a commit (especially if you changed .gitignore)
### git reset
### git status
### git commit -m <msg>
### git push
###
### git rm --cached <somefilepath>   # to remove something thats already been added

### to 'wildcard untrack' files git reset won't forget:  (example is for *.db)
### git ls-files '*.db' -z | xargs -0 git rm --cached

#############################################################################################
# general stuff
*.log
.env
.DS_Store
.idea/

# client stuff
client/node_modules/
client/dist/
client/.vscode/
!client/.vscode/launch.json

# server stuff
server/node_modules/
client/dist/
server/.vscode/
!server/.vscode/launch.json

# dont push .db files either (except for example.db)
server/db/*.db
!server/db/example.db
!server/db/Getting\ Started.db

# extra stuff
extra/*~
extra/.*~       # account for .cherrytree.ctb~ etc
extra/*.bak


