.sysContextMenu {
    display: none; /* Initially hidden */
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #d1d1d1;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 0;
    z-index: 99999999; /* Ensure it's on top of all other elements */
}

.sysContextMenu ul {
    list-style:  none;
    padding: 0;
    margin-left: 20px;
}

.sysContextMenu li {
    padding: 8px 15px;
    cursor: pointer;
}

.sysContextMenu li:hover {
    background-color: #a8a8a8;
}
