#DFMenuBar {
  display: flex;
  background: #333;
  color: white;
  height: 100%;
  /* padding: 4px; */
  font-family: sans-serif;
}

#DFMenuBar .header {
  padding: 2px 8px;
  cursor: pointer;
  position: relative;
}

.DFContextMenu, .submenu {
    position: absolute;
    background: #444;
    color: white;
    border: 1px solid #222;
    padding: 4px 0;
    display: none;
    z-index: 1000;
    min-width: 150px;
  }
  
  .DFContextMenu.active, .submenu.active {
    display: block;
  }
  
  .DFMenuOption {
    padding: 4px 12px;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
  }
  
  .DFMenuOption:hover {
    background: #555;
  }
  
  .DFMenuOption.has-children::after {
    content: '▶';
    position: absolute;
    right: 10px;
  }
