.CTE {
    background-color: aqua;
    width:100%;
    height:100%;                 /* if we don't do this it won't fill the host */
    padding: 2px;                /* without this the cursor gets lost at start-of-line if there's a solid border */
    border: 1px solid white;   /*??RSTEMP?? get-us-going mods to experiment on the el */
    overflow: hidden;
    white-space: pre-wrap;       /* preserve whitespace and wrap as needed */
    word-wrap  : break-word;     /* auto-break very large words if needed */
    box-sizing : border-box;     /* w/o if parent=100px, border+padding+width:100% = 1+2+100+2+1,  with = 1+2+94+2+1 */
}
